/*
reglas 
selectores
declaraciones
propiedades
valores

- Selector de etiqueta
header{

}
- Selector descendente 
body header div nav ol li a {

}
- selector de clase, usamos un punto .

- selector de id usamos #


header{
  background: rgb(250, 247, 247);
  color: red;
}
img{
  margin: 0%;
  padding: 0em;
  border-left: 0em
}
strong{
  color: brown;
}*/
body{
  font-family: "Source Sans Pro", sans-serif;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Fjalla One', sans-serif;
  margin-block: 30px;
}
h1{
  line-height: 1.5em;
  font-size: 30px;
  font-weight: normal;
  /*font-style: italic;*/
  letter-spacing: -1px;
  text-transform: capitalize;
  text-decoration: dashed;
}
strong{
  color: #073b4a;
}
.header{
  background-color: #073b4a;
  color: whitesmoke;
  height: 150px;
  margin: 0px;
  padding: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.header ol{
  display: flex;
}
ul{
  color: whitesmoke;
  margin: 10px;
  padding: 10px;
  list-style: none;
  display: flex;
  font-size: 20px;
 
}
header a {
  color: whitesmoke;
  margin: 10px;
  padding: 10px;
}
.header, figure{
  background-color: #073b4a;
  background-size: 500px 500px;
  background-repeat: no-repeat;
  background-position-x: right;
  box-sizing: border-box;
  display: flex;
  align-self: center;
  margin: 0px;
}
.redonda{
  width:140px;
    height:140px;
    border-radius:150px;
    display: flex;
}
.datos__info{
  display: flex;
  justify-content: center;
}
h1, h3{
  margin: 0px;
  padding: 10px;
}
.dato{
border-top: 1px solid #073b4a;
border-left: 1px solid  #073b4a;
border-right: 1px solid  #073b4a;
border-bottom: 1px solid  #073b4a;
border-radius: 10px;
margin: 30px;
padding: 30px;
height: 200px;
width: 400px;
}
.datos__nombre{
  border-top: 1px solid #073b4a;
border-left: 1px solid  #073b4a;
border-right: 1px solid  #073b4a;
border-bottom: 1px solid  #073b4a;
border-radius: 10px;
margin: 30px;
padding: 30px;
height: 200px;
width: 300px;
}
.datos__nombre ~.datos__info{
  justify-items: center;
}
.hero{
  border-top: 1px solid #073b4a;
  border-left: 1px solid  #073b4a;
  border-right: 1px solid  #073b4a;
  border-bottom: 1px solid  #073b4a;
  border-radius: 10px;
  padding: 30px;
 
}
.Estudios{
  border-top: 1px solid #073b4a;
  border-left: 1px solid  #073b4a;
  border-right: 1px solid  #073b4a;
  border-bottom: 1px solid  #073b4a;
  border-radius: 10px;
  padding: 30px;
}
.Experiencia{
  border-top: 1px solid #073b4a;
  border-left: 1px solid  #073b4a;
  border-right: 1px solid  #073b4a;
  border-bottom: 1px solid  #073b4a;
  border-radius: 10px;
  padding: 30px;
}
.contacto{
  border-top: 1px solid #073b4a;
  border-left: 1px solid  #073b4a;
  border-right: 1px solid  #073b4a;
  border-bottom: 1px solid  #073b4a;
  border-radius: 10px;
  padding: 30px;
  margin: 0px;
}
.input{
  width: 70%;
  border-radius: 20px;
  height: 20px;
}
label{
  margin: 20px;
}



